---
import GalaxyLayout from "@/layouts/GalaxyLayout.astro";
import { MenuName } from "@/components/navbar/WorkNavbar.astro";
import BackButton from "@/components/custom-ui/BackButton";
import { mockUserStars } from "@/types/mock-data";

const userData = {
    title: "404 Not Found",
    stars: mockUserStars,
    projectGoal: 1000,
};
---

<GalaxyLayout
    active={MenuName.ProjectName}
    hideLinks={Object.keys(MenuName)}
    projectName={userData.title}
    stars={userData.stars}
    projectGoal={userData.projectGoal}
>
    <BackButton slot="left" client:load />

    <div
        slot="center"
        class="flex flex-col items-center justify-center min-h-[60vh] text-center space-y-8 px-4"
    >
        <h1
            class="text-6xl md:text-7xl lg:text-8xl font-bold text-slate-800 dark:text-slate-200"
        >
            404 Not Found
        </h1>
        <p
            class="text-xl md:text-3xl text-slate-600 dark:text-slate-400 leading-relaxed max-w-2xl"
        >
            The user you're looking for doesn't exist or has been removed.
        </p>
    </div>
</GalaxyLayout>
