---
import InfoPanel from "@/components/panel/InfoPanel";
import Horizontally from "@/components/grid/RowGrid";
import type { SectionProps } from "@/types/eventTypes";
import type { RoleCardProps } from "@/components/profile/RolePanel";
import C from "@/components/profile/RolePanel";
import Section from "./BaseSection.astro";

type Props = SectionProps & { cols?: number };

let {
  panels,
  bottomPanel,
  title,
  prefix,
  cols,
  className,
  bg,
  titleClassName,
} = Astro.props;
if (!cols) {
  cols = panels && panels.length > 4 ? 3 : panels!.length || 0;
}
---

<Section
  bg={bg}
  title={title}
  className={className}
  titleClassName={titleClassName}
>
  <slot name="top" />
  <Horizontally cols={cols} className="mb-6">
    <slot name="grid">
      {
        panels &&
          panels.map((step, index) =>
            (step as RoleCardProps).roleCard ? (
              <C {...(step as RoleCardProps)} />
            ) : step.description === undefined ? (
              <InfoPanel
                title={step.title}
                icon={{
                  iconType: step.icon,
                  fill: step.iconBgColor || "blue-500",
                }}
              />
            ) : (
              <InfoPanel key={prefix! + index} {...step} />
            ),
          )
      }
    </slot>

    {
      bottomPanel === undefined ? null : (
        <InfoPanel key={"bottom-panel"} {...bottomPanel} />
      )
    }
  </Horizontally>
</Section>
